
@-webkit-keyframes balloon1 {
    from {
        -webkit-transform: translate(0px, 0px) scale(0.1);
    }
    to {
        -webkit-transform: translate(40px, -900px) scale(0.1);
    }
}

@-webkit-keyframes balloon2 {
    0% {
        -webkit-transform: translate(0px, 0px) scale(0.15);
        opacity: 0
    }
    10% {
        -webkit-transform: translate(0px, -90px) scale(0.15);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0px, -800px) scale(0.15);
        opacity: 1
    }
}

@-webkit-keyframes balloon3 {
    from {
        -webkit-transform: translate(0px, 0px) scale(0.25);
    }
    to {
        -webkit-transform: translate(0px, -1200px) scale(0.25);
    }
}

@-webkit-keyframes title_in {
    0% {
        -webkit-transform: translate(-92px, 142px) scale(0.05);
        opacity: 0;
        -webkit-filter: blur(15px);
    }
    9% {
        -webkit-transform: translate(-20px, 126px) scale(0.2);
        opacity: 0.25;
        -webkit-filter: blur(11px);
    }
    18% {
        -webkit-transform: translate(41px, 100px) scale(0.25);
        opacity: 0.5;
        -webkit-filter: blur(8px);
    }
    27% {
        -webkit-transform: translate(101px, 60px) scale(0.35);
        opacity: 0.75;
        -webkit-filter: blur(4px);
    }
    36% {
        -webkit-transform: translate(131px, 3px) scale(0.4);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    45% {
        -webkit-transform: translate(131px, -57px) scale(0.5);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    54% {
        -webkit-transform: translate(101px, -112px) scale(0.65);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    63% {
        -webkit-transform: translate(69px, -162px) scale(0.78);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    72% {
        -webkit-transform: translate(33px, -222px) scale(0.9);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    81% {
        -webkit-transform: translate(-6px, -296px) scale(1);
        opacity: 1;
        -webkit-filter: blur(0px);
    }
    90% {
        -webkit-transform: translate(-48px, -367px) scale(1.1);
        opacity: 0.5;
        -webkit-filter: blur(0px);
    }
    100% {
        -webkit-transform: translate(-93px, -438px) scale(1.2);
        opacity: 0;
        -webkit-filter: blur(00px);
    }
}

@-webkit-keyframes title_in_ar {
    0% {
        -webkit-transform: translate(-92px, 142px) scale(0.05);
        opacity: 0;
    }
    9% {
        -webkit-transform: translate(-20px, 126px) scale(0.2);
        opacity: 0.25;
    }
    18% {
        -webkit-transform: translate(41px, 100px) scale(0.25);
        opacity: 0.5;
    }
    27% {
        -webkit-transform: translate(101px, 60px) scale(0.35);
        opacity: 0.75;
    }
    36% {
        -webkit-transform: translate(131px, 3px) scale(0.4);
        opacity: 1;
    }
    45% {
        -webkit-transform: translate(131px, -57px) scale(0.5);
        opacity: 1;
    }
    54% {
        -webkit-transform: translate(101px, -112px) scale(0.65);
        opacity: 1;
    }
    63% {
        -webkit-transform: translate(69px, -162px) scale(0.78);
        opacity: 1;
    }
    72% {
        -webkit-transform: translate(33px, -222px) scale(0.9);
        opacity: 1;
    }
    81% {
        -webkit-transform: translate(-6px, -296px) scale(1);
        opacity: 1;
    }
    90% {
        -webkit-transform: translate(-48px, -367px) scale(1.1);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(-93px, -438px) scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes balloon1h_in {
    0% {
        -webkit-transform: translate(145px, 220px) scale(0.05);
        -webkit-filter: blur(5px);
    }
    80% {
        -webkit-transform: translate(-20px, -320px) scale(0.9);
        -webkit-filter: blur(0px);
    }
    100% {
        -webkit-transform: translate(-251px, -611px) scale(1);
        -webkit-filter: blur(0px);
    }
}

@-webkit-keyframes balloon1h_in_ar {
    0% {
        -webkit-transform: translate(145px, 220px) scale(0.05);
    }
    80% {
        -webkit-transform: translate(-20px, -320px) scale(0.9);
    }
    100% {
        -webkit-transform: translate(-251px, -611px) scale(1);
    }
}

@-webkit-keyframes balloon1fade {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes rotateYForimg{
  0% {
      -webkit-transform: rotateY(0deg);
      -webkit-transform-style:preserve-3d;
  }
  20%{
    -webkit-transform: rotateY(60deg);
    -webkit-transform-style:preserve-3d;
  }
  40%{
    -webkit-transform: rotateY(120deg);
    -webkit-transform-style:preserve-3d;
  }
  60%{
    -webkit-transform: rotateY(240deg);
    -webkit-transform-style:preserve-3d;
  }

  80% {
      -webkit-transform: rotateY(300deg);
      -webkit-transform-style:preserve-3d;
  }
  100% {
      -webkit-transform: rotateY(360deg);
      -webkit-transform-style:preserve-3d;
  }
}
@-webkit-keyframes rotateYForimg2{
  0% {
      -webkit-transform: rotateY(360deg);
      -webkit-transform-style:preserve-3d;
  }
  20% {
      -webkit-transform: rotateY(300deg);
      -webkit-transform-style:preserve-3d;
  }
  40%{
    -webkit-transform: rotateY(240deg);
    -webkit-transform-style:preserve-3d;
  }
  60%{
    -webkit-transform: rotateY(120deg);
    -webkit-transform-style:preserve-3d;
  }
  80%{
    -webkit-transform: rotateY(60deg);
    -webkit-transform-style:preserve-3d;
  }
  100% {
      -webkit-transform: rotateY(0deg);
      -webkit-transform-style:preserve-3d;
  }

}
@-webkit-keyframes rotateYForimg3{
  0% {
      -webkit-transform: rotateY(360deg) rotateX(0);
      -webkit-transform-style:preserve-3d;
  }
  20% {
      -webkit-transform: rotateY(300deg) rotateX(10deg);
      -webkit-transform-style:preserve-3d;
  }
  40%{
    -webkit-transform: rotateY(240deg) rotateX(40deg);
    -webkit-transform-style:preserve-3d;
  }
  60%{
    -webkit-transform: rotateY(120deg) rotateX(60deg);
    -webkit-transform-style:preserve-3d;
  }
  80%{
    -webkit-transform: rotateY(60deg) rotateX(40deg);
    -webkit-transform-style:preserve-3d;
  }
  100% {
      -webkit-transform: rotateY(0deg) rotateX(0);
      -webkit-transform-style:preserve-3d;
  }

}
@-webkit-keyframes rotateYForimg4{
  0% {
      -webkit-transform: rotateY(360deg) rotateX(0);
      -webkit-transform-style:preserve-3d;
  }
  20% {
      -webkit-transform: rotateY(300deg) rotateX(5deg);
      -webkit-transform-style:preserve-3d;
  }
  40%{
    -webkit-transform: rotateY(240deg) rotateX(10deg);
    -webkit-transform-style:preserve-3d;
  }
  60%{
    -webkit-transform: rotateY(120deg) rotateX(30deg);
    -webkit-transform-style:preserve-3d;
  }
  80%{
    -webkit-transform: rotateY(60deg) rotateX(15deg);
    -webkit-transform-style:preserve-3d;
  }
  100% {
      -webkit-transform: rotateY(0deg) rotateX(0deg);
      -webkit-transform-style:preserve-3d;
  }

}
@-webkit-keyframes balloon2h_in {
    0% {
        -webkit-transform: translate(137px, 475px) scale(0.15);
        -webkit-filter: blur(5px);
    }
    80% {
        -webkit-transform: translate(9px, -252px) scale(0.85);
        -webkit-transform-style:preserve-3d;
        -webkit-filter: blur(0px);
    }
    100% {
        -webkit-transform: translate(-89px, -726px) scale(0.9);
        -webkit-transform-style:preserve-3d;
        -webkit-filter: blur(0px);
    }
}

@-webkit-keyframes balloon3h_in {
    0% {
        -webkit-transform: translate(-377px, -170px) scale(0.85);
    }
    65% {
        -webkit-transform: translate(50px, -290px) scale(0.85);
    }
    100% {
        -webkit-transform: translate(477px, -370px) scale(0.9);
    }
}

@-webkit-keyframes balloon2h_in_ar {
    0% {
        -webkit-transform: translate(137px, 475px) scale(0.15);
    }
    80% {
        -webkit-transform: translate(9px, -252px) scale(0.85);
    }
    100% {
        -webkit-transform: translate(-89px, -726px) scale(0.9);
    }
}

@-webkit-keyframes balloon3h_in_ar {
    0% {
        -webkit-transform: translate(-377px, -170px) scale(0.85);
    }
    65% {
        -webkit-transform: translate(50px, -290px) scale(0.85);
    }
    100% {
        -webkit-transform: translate(477px, -370px) scale(0.9);
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes zhuan {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
