.new_ad ul li {
  float: left;
  width: 50%;
  padding: 10px 2%;
  border-bottom: 1px #E8E8E8 solid;
  box-sizing: border-box;
}

.new_ad ul li .imgs {
  width: 86px;
  float: right;
}

.new_ad ul li .imgs img {
  float: right;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  border: 3px #E6E6E6 solid;
}

.new_ad ul li .txt {
  margin-right: 90px;
  font-family: "微软雅黑";
}

.new_ad ul li .txt i {
  float: left;
  font-size: 24px;
  font-style: normal;
  width: 100%;
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.new_ad ul li .txt span {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.new_ad ul li .color1 i {
  color: #EDBA4D
}
.new_ad ul li .color2 i {
  color: #E85565
}
.new_ad ul li .color3 i {
  color: #4282FF
}
.new_ad ul li .color4 i {
  color: #46DAC2
}
@media screen and (max-width: 420px) {
  .new_ad ul li .imgs {
    width: 60px;
  }
  .new_ad ul li .imgs img{
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: 2px #E6E6E6 solid;
  }
  .new_ad ul li .txt {
    margin-right: 60px;
  }
  .new_ad ul li .txt i {
    font-size: 20px;
    margin-top: 10px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
  }
  .new_ad ul li .txt span {
    font-size: 16px;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
  }
}

@media screen and (max-width:380px) {
  .new_ad ul li .imgs {
    width: 46px;
    height: 46px;
    border: 0 #E6E6E6 solid
  }
  .new_ad ul li .txt i {
    font-size: 18px;
  }
  .new_ad ul li .txt span {
    font-size: 14px;
  }
}

@media screen and (max-width:320px) {
  .new_nav ul li img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .new_ad ul li .imgs img {
    width: 46px;
    height: 46px;
    border: 0 #E6E6E6 solid;
  }
  .new_ad ul li .txt {
    margin-right: 46px;
  }
  .new_ad ul li .txt i {
    font-size: 16px;
    margin-top: 8px;
  }
  .new_ad ul li .txt span {
    font-size: 12px;
    margin-top: 0;
  }
}