.userinfo{
  width: 96%;
  margin: 0 auto;
  clear: both;
  line-height: 23px;
  overflow: hidden;
  position: relative;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
.fgx{
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  height: 1px;
  border-top: 1px #CCC solid;
}
.userinfo .userinfo_ewm{
  float: left;
  width: 48%;
  text-align: center;
  border-right: 1px #CCC solid;
  padding: 0 0 10px;
}
.userinfo .userinfo_ewm img{
  width: 84px;
  height: 84px;
  margin: 0 34px;
  border-radius: 70px;
  box-shadow: 0 0 0 3px #CBCCCA;
  margin-top: 5px;
}
.userinfo .userinfo_ewm span{
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  text-align: left;
  text-indent: 18px;
}
.userinfo .userinfo_ewm .position{
  float: left
}
.userinfo .userinfo_ewm a{
  float: left;
  width:124px;
  background-color: #6599FF;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  padding: 5px 0;
  background-size: 20px;
  padding-left: 10px;
  margin-top: 5px;
  margin-left:-2px;
  text-align: left;
  line-height:20px;
}
.userinfo .userinfo_ewm a:last-child{
  background-color:#C391BF;
}
.userinfo .userinfo_ewm2{
  float: right;
  width: 45%;
  margin-left: 4px;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 25px;
}
.userinfo .userinfo_ewm2 img{
  float: left;
  width: 100%;
  height: 171px;
  margin-left: 15px;
}