.editpass_form input.input {
    width: 96%;
    padding: 5px 2%;
    line-height: 30px;
    border: 1px #C5C7C6 solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}
input {
    vertical-align: middle;
}
.editpass_form .t {
    float: left;
    width: 84px;
    text-align: right;
    line-height: 40px;
    font-size: 16px;
    color: #FA0;
}
.editpass_t {
    margin: 0 auto;
    max-width: 640px;
    background: #FDFDFD;
    border-bottom: 1px #BFBFBF solid;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "微软雅黑";
}
.editpass_form ul li {
    float: left;
    width: 100%;
}
.editpass_form .rinput {
    margin-left: 90px;
}
.editpass_form ul {
    float: left;
    width: 100%;
    padding: 50px 0 20px;
}
.editpass_form {
    margin: 0 20px;
    max-width: 600px;
    text-align: center;
}
.editpass_form input.but {
    padding: 0 20px;
    font-size: 16px;
    background: #FA0;
    color: #FFF;
    border: none;
    line-height: 45px;
    font-family: "微软雅黑";
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}