.product-list .product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.product-list li {
  height: 88px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(184, 184, 184, 0.6);
  width: 49%;
  background: url(../../img/product/product_line_bg.png) no-repeat;
  background-position: 20px center;
  background-size: 9px 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 6px;
}
.product-list li div {
  position: absolute;
  left: 84px;
  top: 16px;
  right: 5px;
  z-index: 300;
  overflow: hidden;
}
.product-list li img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate3d(0, -50%, 0);
}
.product-list li div h4 {
  font-size: 14px;
  width: 88px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.product-list li div p {
  font-size: 12px;
  color: #aaa;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  width: 88px;
  -webkit-line-clamp: 1;
}

.product-content .arrow {
  display: none;
}
