
.cardmb_5 .new_urllink li i.icon_1 {
  background: url('~static/img/card/cardmb5/mb5_icon_1.png') center 50% no-repeat;
  background-size: 56px;
}

.cardmb_5 .new_urllink li i.icon_2 {
  background: url('~static/img/card/cardmb5/mb5_icon_2.png') center 50% no-repeat;
  background-size: 56px;  
}

.cardmb_5 .new_urllink li i.icon_3 {
  background: url('~static/img/card/cardmb5/mb5_icon_3.png') center 50% no-repeat;
  background-size: 56px;  
}

.cardmb_5 .new_urllink li i.icon_4 {
  background: url('~static/img/card/cardmb5/mb5_icon_4.png') center 50% no-repeat;
  background-size: 56px;  
}

.cardmb_5 .new_urllink li i.icon_5 {
  background: url('~static/img/card/cardmb5/mb5_icon_5.png') center 50% no-repeat;
  background-size: 56px;  
}

.cardmb_5 .new_urllink li i.icon_6 {
  background: url('~static/img/card/cardmb5/mb5_icon_6.png') center 50% no-repeat;
  background-size: 56px;  
}